#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  text-align: center; /* Align SVG horizontally */
}

.svg {
  display: flex;
  margin: 0 auto;
}

img:hover {
  filter: drop-shadow(0 0 2em #28ac3caa);
}
